<div id="index-banner" class="index-banner section no-pad-bot primary-bg">
  <div class="container">
    <h1 class=" center-on-small-only  text-light ">徽章</h1>
    <br>
    <br>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="section col s12 m9 l10">
      <div id="collections" class="section scrollspy">
        <div class="row">
          <div class="col s12">
            <p class="caption">
              徽章能用来通知你有新消息或者提醒信息。使用<code class="language-markup">new</code>为徽章设置背景色。
            </p>
            <h2 class="header">集合</h2>

            <div class="collection">
              <a href="#!" class="collection-item">Alan<span class="badge">1</span></a>
              <a href="#!" class="collection-item">Alan<span class="new badge">4</span></a>
              <a href="#!" class="collection-item">Alan</a>
              <a href="#!" class="collection-item">Alan<span class="badge">14</span></a>
            </div>
            <pre><code class="language-markup">
    &lt;div class="collection">
      &lt;a href="#!" class="collection-item">Alan&lt;span class="badge">1&lt;/span>&lt;/a>
      &lt;a href="#!" class="collection-item">Alan&lt;span class="new badge">4&lt;/span>&lt;/a>
      &lt;a href="#!" class="collection-item">Alan&lt;/a>
      &lt;a href="#!" class="collection-item">Alan&lt;span class="badge">14&lt;/span>&lt;/a>
    &lt;/div>
            </code></pre>
          </div>
        </div>
      </div>

      <div id="dropdown" class="section scrollspy">
        <div class="row">
          <div class="col s12">

            <h2 class="header">下拉框</h2>

            <ul id="dropdown2" class="dropdown-content">
              <li><a href="#!">one<span class="badge">1</span></a></li>
              <li><a href="#!">two<span class="new badge">1</span></a></li>
              <li><a href="#!">three</a></li>
            </ul>
            <a class="btn dropdown-button" href="#!" data-activates="dropdown2">Dropdown<i
              class="mdi-navigation-arrow-drop-down right"></i></a>

            <pre><code class="language-markup">
    &lt;ul id="dropdown2" class="dropdown-content">
      &lt;li>&lt;a href="#!">one&lt;span class="badge">1&lt;/span>&lt;/a>&lt;/li>
      &lt;li>&lt;a href="#!">two&lt;span class="new badge">1&lt;/span>&lt;/a>&lt;/li>
      &lt;li>&lt;a href="#!">three&lt;/a>&lt;/li>
    &lt;/ul>
    &lt;a class="btn dropdown-button" href="#!" data-activates="dropdown2">Dropdown&lt;i
    class="mdi-navigation-arrow-drop-down right">&lt;/i>&lt;/a>
            </code></pre>

          </div>
        </div>
      </div>


    </div>

    <!-- Table of contents -->
    <div class="col hide-on-small-only m3 l2">
      <div class="toc-wrapper">
        <div style="height: 1px;">
          <ul class="section table-of-contents">
            <li><a href="#collections">集合</a></li>
            <li><a href="#dropdown">下拉框</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>