<div id="index-banner" class="index-banner section no-pad-bot primary-bg">
  <div class="container">
    <h1 class=" center-on-small-only  text-light ">集合</h1>
    <br>
    <br>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="section col s12 m9 l10">
      <div id="basic" class="section scrollspy">

        <div class="row">
          <div class="col s12">
            <p class="caption">集合能让你列出一组对象。</p>
            <h2 class="header">Basic</h2>
            <ul class="collection">
              <li class="collection-item">Alvin</li>
              <li class="collection-item">Alvin</li>
              <li class="collection-item">Alvin</li>
              <li class="collection-item">Alvin</li>
            </ul>
            <pre><code class="language-markup">
  &lt;ul class="collection">
    &lt;li class="collection-item">Alvin&lt;/li>
    &lt;li class="collection-item">Alvin&lt;/li>
    &lt;li class="collection-item">Alvin&lt;/li>
    &lt;li class="collection-item">Alvin&lt;/li>
  &lt;/ul>
            </code></pre>
            <br>
          </div>
        </div>
      </div>

      <div id="links" class="section scrollspy">
        <div class="row">
          <div class="col s12">
            <h2 class="header">超链接</h2>
            <div class="collection">
              <a href="#!" class="collection-item">Alvin</a>
              <a href="#!" class="collection-item active">Alvin</a>
              <a href="#!" class="collection-item">Alvin</a>
              <a href="#!" class="collection-item">Alvin</a>
            </div>
            <pre><code class="language-markup">
   &lt;div class="collection">
     &lt;a href="#!" class="collection-item">Alvin&lt;/a>
     &lt;a href="#!" class="collection-item active">Alvin&lt;/a>
     &lt;a href="#!" class="collection-item">Alvin&lt;/a>
     &lt;a href="#!" class="collection-item">Alvin&lt;/a>
   &lt;/div>
            </code></pre>
          </div>
        </div>
      </div>

      <div id="headers" class="section scrollspy">
        <div class="row">
          <div class="col s12">
            <h2 class="header">标题</h2>
            <ul class="collection with-header">
              <li class="collection-header"><h4>First Names</h4></li>
              <li class="collection-item">Alvin</li>
              <li class="collection-item">Alvin</li>
              <li class="collection-item">Alvin</li>
              <li class="collection-item">Alvin</li>
            </ul>
            <pre><code class="language-markup">
   &lt;ul class="collection with-header">
     &lt;li class="collection-header">&lt;h4>First Names&lt;/h4>&lt;/li>
     &lt;li class="collection-item">Alvin&lt;/li>
     &lt;li class="collection-item">Alvin&lt;/li>
     &lt;li class="collection-item">Alvin&lt;/li>
     &lt;li class="collection-item">Alvin&lt;/li>
   &lt;/ul>
            </code></pre>
          </div>
        </div>
      </div>


      <div id="secondary" class="section scrollspy">
        <div class="row">
          <div class="col s12">
            <h2 class="header">次要内容</h2>
            <ul class="collection with-header">
              <li class="collection-header"><h4>First Names</h4></li>
              <li class="collection-item">Alvin<a href="#!" class="secondary-content"><i class="mdi-content-send"></i></a></li>
              <li class="collection-item">Alvin<a href="#!" class="secondary-content"><i class="mdi-content-send"></i></a></li>
              <li class="collection-item">Alvin<a href="#!" class="secondary-content"><i class="mdi-content-send"></i></a></li>
              <li class="collection-item">Alvin<a href="#!" class="secondary-content"><i class="mdi-content-send"></i></a></li>
            </ul>
            <pre><code class="language-markup">
   &lt;ul class="collection with-header">
     &lt;li class="collection-header">&lt;h4>First Names&lt;/h4>&lt;/li>
     &lt;li class="collection-item">&lt;div>Alvin&lt;a href="#!" class="secondary-content">&lt;i class="mdi-content-send">&lt;/i>&lt;/a>&lt;/div>&lt;/li>
     &lt;li class="collection-item">&lt;div>Alvin&lt;a href="#!" class="secondary-content">&lt;i class="mdi-content-send">&lt;/i>&lt;/a>&lt;/div>&lt;/li>
     &lt;li class="collection-item">&lt;div>Alvin&lt;a href="#!" class="secondary-content">&lt;i class="mdi-content-send">&lt;/i>&lt;/a>&lt;/div>&lt;/li>
     &lt;li class="collection-item">&lt;div>Alvin&lt;a href="#!" class="secondary-content">&lt;i class="mdi-content-send">&lt;/i>&lt;/a>&lt;/div>&lt;/li>
   &lt;/ul>
            </code></pre>
          </div>

        </div>
      </div>

      <div id="circle" class="section scrollspy">
        <div class="row">
          <div class="col s12">
            <h2 class="header">头像</h2>
            <ul class="collection">
              <li class="collection-item avatar">
                <img src="/public/img/yuna.jpg" alt="" class="circle">
                <span class="title">Title</span>
                <p>First Line <br>
                  Second Line
                </p>
                <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
              </li>
              <li class="collection-item avatar">
                <i class="mdi-file-folder circle"></i>
                <span class="title">Title</span>
                <p>First Line <br>
                  Second Line
                </p>
                <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
              </li>
              <li class="collection-item avatar">
                <i class="mdi-action-assessment circle green"></i>
                <span class="title">Title</span>
                <p>First Line <br>
                  Second Line
                </p>
                <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
              </li>
              <li class="collection-item avatar">
                <i class="mdi-av-play-arrow circle red"></i>
                <span class="title">Title</span>
                <p>First Line <br>
                  Second Line
                </p>
                <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
              </li>
            </ul>
            <pre><code class="language-markup">
   &lt;ul class="collection">
     &lt;li class="collection-item avatar">
       &lt;img src="images/yuna.jpg" alt="" class="circle">
       &lt;span class="title">Title&lt;/span>
       &lt;p>First Line &lt;br>
       Second Line
       &lt;/p>
       &lt;a href="#!" class="secondary-content">&lt;i class="mdi-action-grade">&lt;/i>&lt;/a>
     &lt;/li>
     &lt;li class="collection-item avatar">
       &lt;i class="mdi-file-folder circle">&lt;/i>
       &lt;span class="title">Title&lt;/span>
       &lt;p>First Line &lt;br>
       Second Line
       &lt;/p>
       &lt;a href="#!" class="secondary-content">&lt;i class="mdi-action-grade">&lt;/i>&lt;/a>
     &lt;/li>
     &lt;li class="collection-item avatar">
       &lt;i class="mdi-action-assessment circle green">&lt;/i>
       &lt;span class="title">Title&lt;/span>
       &lt;p>First Line &lt;br>
       Second Line
       &lt;/p>
       &lt;a href="#!" class="secondary-content">&lt;i class="mdi-action-grade">&lt;/i>&lt;/a>
     &lt;/li>
     &lt;li class="collection-item avatar">
       &lt;i class="mdi-av-play-arrow circle red">&lt;/i>
       &lt;span class="title">Title&lt;/span>
       &lt;p>First Line &lt;br>
       Second Line
       &lt;/p>
       &lt;a href="#!" class="secondary-content">&lt;i class="mdi-action-grade">&lt;/i>&lt;/a>
     &lt;/li>
   &lt;/ul>
            </code></pre>
          </div>

        </div>
      </div>

    </div>

    <!-- Table of contents -->
    <div class="col hide-on-small-only m3 l2">
      <div class="toc-wrapper">
        <div style="height: 1px;">
          <ul class="section table-of-contents">
            <li><a href="#basic">基础</a></li>
            <li><a href="#links">超链接</a></li>
            <li><a href="#headers">标题</a></li>
            <li><a href="#secondary">次要内容</a></li>
            <li><a href="#circle">头像</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>