<div id="index-banner" class="index-banner section no-pad-bot primary-bg">
  <div class="container">
    <h1 class=" center-on-small-only  text-light ">加载动画</h1>
    <br>
    <br>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="section col s12 m9 l10">
      <p class="caption">
        如果网页内容很多需要加载很长时间，那么给用户一些反馈将会是明智的选择。因此，我们提供了这些反馈效果。
      </p>

      <div id="linear" class="section scrollspy">
        <h2 class="header">线性</h2>
        <p>有几种不同类型的进度条。</p>
        <h4>进度确定</h4>
        <div class="row">
          <div class="div col s8 offset-s2">
            <div class="progress">
              <div class="determinate" style="width: 70%"></div>
            </div>
          </div>
        </div>
        <pre><code class="language-markup">
  &lt;div class="progress">
    &lt;div class="determinate" style="width: 70%">&lt;/div>
  &lt;/div>
        </code></pre>

        <h4>进度不定</h4>
        <div class="row">
          <div class="div col s8 offset-s2">
            <div class="progress">
              <div class="indeterminate"></div>
            </div>
          </div>
        </div>
        <pre><code class="language-markup">
  &lt;div class="progress">
    &lt;div class="indeterminate">&lt;/div>
  &lt;/div>
        </code></pre>

      </div>

      <!-- Preloader Section-->
      <div id="circular" class="section scrollspy">
        <h2 class="header">环形</h2>
        <div class="row">
          <div class="col s12 m4 center">
            <div class="preloader-wrapper big active">
              <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
              </div>
            </div>
          </div>

          <div class="col s12 m4 center">

            <div class="preloader-wrapper active">
              <div class="spinner-layer spinner-red-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
              </div>
            </div>

          </div>
          <div class="col s12 m4 center">

            <div class="preloader-wrapper small active">
              <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
              </div>
            </div>

          </div>
        </div>
        <pre><code class="language-markup">
  &lt;div class="preloader-wrapper big active">
    &lt;div class="spinner-layer spinner-blue-only">
      &lt;div class="circle-clipper left">
        &lt;div class="circle">&lt;/div>
      &lt;/div>&lt;div class="gap-patch">
      &lt;div class="circle">&lt;/div>
      &lt;/div>&lt;div class="circle-clipper right">
        &lt;div class="circle">&lt;/div>
      &lt;/div>
    &lt;/div>
  &lt;/div>
        </code></pre>
      </div>

      <div id="circular-color" class="section scrollspy">
        <h2 class="header">变幻颜色</h2>
        <div class="row">
          <div class="col s12 m4 center">
            <div class="preloader-wrapper big active">
              <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
              </div>

              <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
              </div>

              <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
              </div>

              <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
              </div>
            </div>
          </div>
          <div class="col s12 m4 center">

            <div class="preloader-wrapper active">
              <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
              </div>

              <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
              </div>

              <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
              </div>

              <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
              </div>
            </div>

          </div>
          <div class="col s12 m4 center">

            <div class="preloader-wrapper small active">
              <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
              </div>

              <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
              </div>

              <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
              </div>

              <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
              </div>
            </div>

          </div>
        </div>
        <pre><code class="language-markup">
   &lt;div class="preloader-wrapper big active">
     &lt;div class="spinner-layer spinner-blue">
       &lt;div class="circle-clipper left">
         &lt;div class="circle">&lt;/div>
       &lt;/div>&lt;div class="gap-patch">
       &lt;div class="circle">&lt;/div>
         &lt;/div>&lt;div class="circle-clipper right">
       &lt;div class="circle">&lt;/div>
     &lt;/div>
   &lt;/div>

   &lt;div class="spinner-layer spinner-red">
     &lt;div class="circle-clipper left">
       &lt;div class="circle">&lt;/div>
         &lt;/div>&lt;div class="gap-patch">
       &lt;div class="circle">&lt;/div>
         &lt;/div>&lt;div class="circle-clipper right">
       &lt;div class="circle">&lt;/div>
     &lt;/div>
   &lt;/div>

   &lt;div class="spinner-layer spinner-yellow">
     &lt;div class="circle-clipper left">
       &lt;div class="circle">&lt;/div>
         &lt;/div>&lt;div class="gap-patch">
       &lt;div class="circle">&lt;/div>
         &lt;/div>&lt;div class="circle-clipper right">
       &lt;div class="circle">&lt;/div>
     &lt;/div>
   &lt;/div>

   &lt;div class="spinner-layer spinner-green">
     &lt;div class="circle-clipper left">
       &lt;div class="circle">&lt;/div>
         &lt;/div>&lt;div class="gap-patch">
       &lt;div class="circle">&lt;/div>
       &lt;/div>&lt;div class="circle-clipper right">
         &lt;div class="circle">&lt;/div>
       &lt;/div>
     &lt;/div>
   &lt;/div>
        </code></pre>
      </div>



    </div>

    <!-- Table of contents -->
    <div class="col hide-on-small-only m3 l2">
      <div class="toc-wrapper">
        <div style="height: 1px;">
          <ul class="section table-of-contents">
            <li><a href="#linear">线性</a></li>
            <li><a href="#circular">环形</a></li>
            <li><a href="#circular-color">变幻颜色</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>