<div class="index-banner section no-pad-bot primary-bg">
  <div class="container">
    <h1 class=" center-on-small-only  text-light ">Materialize</h1>

    <div class="row center">
      <h4 class=" col s12 light  text-light  center">基于Google Material Design的现代化响应式前端框架</h4>
    </div>
    <div class="row center">
      <a href="/start" id="download-button"
         class="btn-large waves-effect waves-light btn-primary-bg">快速上手</a>
    </div>
    <div class="row center"><a class="red-text text-lighten-4" href="https://github.com/Dogfalo/materialize">alpha
      release v0.97.0</a></div>
    <br>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m8 text-light offset-m2">
        <br>
        <img id="responsive-img" width="80%" src="/public/img/responsive.png">
      </div>
    </div>

    <div class="row">
      <h3 class="col s12 center  header">Materialize 极大地提高了开发人员的效率并且有效提升了用户体验</h3>
    </div>

    <!--   Promo Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="center promo">
          <i class="mdi-image-flash-on"></i>

          <p class="promo-caption">急速开发</p>

          <p class="light center">我们在组件中内置了大量的默认样式，以便能够快速的使用。另外，也制作了相当一部发动画和变形特效提供更加平滑的用户体验。</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="center promo">
          <i class="mdi-social-group"></i>

          <p class="promo-caption">用户体验</p>

          <p class="light center">基于Material Design的设计原则，本套框架将给用户提供更丰富的动作反馈。当然，内部也嵌套了一套完备的响应式系统来保证在各个平台上都能有一致的表现。</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="center promo">
          <i class="mdi-action-settings"></i>

          <p class="promo-caption">易用原则</p>

          <p class="light center">我们提供了一套详尽的说明使用文档和不同模块对应的示例，帮助开发者更好的上手。并且开发者也可以随时提出任何关于Materialize的问题，我们都将尽力回答。</p>
        </div>
      </div>
    </div>
</div>
  <div class="divider"></div>
  <div class="section">
    <div class="row center">
      <h3 class="light header">Materialize 案例</h3>

      <p class="text-lg">现在，来看看那些用Materialize创建的网站。或许能从这些精美的网站中找到些有助于你的灵感。</p>

      <a href="/showcase" class="btn-large waves-effect waves-light">案例浏览</a>

    </div>
  </div>
</div>