<div class="index-banner section no-pad-bot primary-bg">
  <div class="container">
    <h1 class=" center-on-small-only  text-light ">Materialize</h1>

    <div class="row center">
      <h4 class=" col s12 light  text-light  center">基于Google Material Design的现代化响应式前端框架</h4>
    </div>
    <div class="row center">
      <a href="/start" id="download-button"
         class="btn-large waves-effect waves-light btn-primary-bg">快速上手</a>
    </div>
    <div class="row center"><a class="red-text text-lighten-4" href="https://github.com/Dogfalo/materialize">alpha
      release v0.97.0</a></div>
    <br>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m8 text-light offset-m2">
        <br>
        <img id="responsive-img" width="80%" src="/public/img/responsive.png">
      </div>
    </div>

    <div class="row">
      <h3 class="col s12 center  header">Materialize 极大的提高了开发人员的效率并且有效提升了用户体验</h3>
    </div>

    <!--   Promo Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="center promo">
          <i class="mdi-image-flash-on"></i>

          <p class="promo-caption">急速开发</p>

          <p class="light center">我们在组件中定义了大量的规则来为你提供默认的样式。另外，我们重构了动画和变形以提供更加平滑的用户体验。</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="center promo">
          <i class="mdi-social-group"></i>

          <p class="promo-caption">用户体验</p>

          <p class="light center">基于Material Design的设计原则，我们创建了一套能给用户更多动效反馈的框架。同时，也内嵌了一套完备的响应式系统来保证在各个平台上都能有一致的表现。</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="center promo">
          <i class="mdi-action-settings"></i>

          <p class="promo-caption">易用原则</p>

          <p class="light center">我们提供了一套详尽的说明文档和不同模块对应的示例，来帮助开发者更好的上手。并且开发者也可以随时提出任何关于Materialize的问题，我们都将尽力回答。</p>
        </div>
      </div>
    </div>
</div>
  <div class="divider"></div>
  <div class="section">
    <div class="row center">
      <h3 class="light header">Materialize 案例</h3>

      <p class="text-lg">来看看那些用Materialize创建的网站。从这些精美的网站中找到些灵感，当然，你也可以提交你的网站。</p>

      <a href="http://materializecss.com/showcase.html" class="btn-large waves-effect waves-light">案例浏览</a>

    </div>
  </div>
</div>