<div id="index-banner" class="index-banner section no-pad-bot primary-bg">
  <div class="container">
    <h1 class=" center-on-small-only  text-light ">手机</h1>
    <br>
    <br>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="section col s12 m9 l10">

      <!--        Sidenav   -->
      <div id="right" class="section scrollspy">
        <h2 class="header">导航栏</h2>
        <p class="caption">
          导航栏是用HTML5的新标签Nav实现的。并且我们建议在其中放置一个div来容纳logo，另一部分就是常规的导航链接。
        </p>
        <h4>侧滑</h4>
        <p>这个插件包含了一系列的选线，详情请看<a href="side-nav#options">选项</a></p>
        <img class="mobile-image" src="/public/img/menu.gif">

      </div>

      <!--        Toast   -->
      <div id="toast-mobile"class="section scrollspy">
        <h2 class="header">弹出框</h2>
        <h4>滑动消失</h4>
        <p>在所有的设备上都能去除。</p>
        <img class="mobile-image" src="/public/img/toast.gif">
      </div>
    </div>

    <!-- Table of contents -->
    <div class="col hide-on-small-only m3 l2">
      <div class="toc-wrapper">
        <div style="height: 1px;">
          <ul class="section table-of-contents">
            <li><a href="#right">侧边栏</a></li>
            <li><a href="#toast-mobile">提示框</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>