<div id="index-banner" class="index-banner section no-pad-bot primary-bg">
  <div class="container">
    <h1 class=" center-on-small-only  text-light ">案例</h1>
    <br>
    <br>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="center col s12">
      <br><br>

      <br><br>
      <!-- CarbonAds Zone Code -->

    </div>
  </div>

  <div class="row">
    <div class="col s12 m4">
      <img class="materialboxed responsive-img z-depth-1" data-caption="Daniel Angel" src="http://materializecss.com/images/showcase/danielangel.png">
      <h5 class="center"><a href="http://danielangel.media/" target="_blank">Daniel Angel</a></h5>
    </div>
    <div class="col s12 m4">
      <img class="materialboxed responsive-img z-depth-1" data-caption="Stamplay" src="http://materializecss.com/images/showcase/stamplay.png">
      <h5 class="center"><a href="https://stamplay.com/" target="_blank">Stamplay</a></h5>
    </div>
    <div class="col s12 m4">
      <img class="materialboxed responsive-img z-depth-1" data-caption="Material Admin Template" src="http://puu.sh/i7MD1/5eb94d6470.png">
      <h5 class="center"><a href="http://demo.geekslabs.com/materialize-v1.0/index.html" target="_blank">Material Admin Template</a></h5>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m4">
      <img class="materialboxed responsive-img z-depth-1" data-caption="Absurdo Burger" src="http://materializecss.com/images/showcase/absurdoburger.png">
      <h5 class="center"><a href="http://absurdoburger.com.br/" target="_blank">Absurdo Burger</a></h5>
    </div>
    <div class="col s12 m4">
      <img class="materialboxed responsive-img z-depth-1" data-caption="Kiosk Browser" src="http://materializecss.com/images/showcase/kioskbrowser.png">
      <h5 class="center"><a href="http://www.android-kiosk.com/" target="_blank">Kiosk Browser</a></h5>
    </div>
    <div class="col s12 m4">
      <img class="materialboxed responsive-img z-depth-1" data-caption="Straphq" src="http://materializecss.com/images/showcase/straphq.png">
      <h5 class="center"><a href="http://www.straphq.com/" target="_blank">Straphq</a></h5>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m4">
      <img class="materialboxed responsive-img z-depth-1" data-caption="Varun Malhotra" src="http://materializecss.com/images/showcase/varun_malhotra.png">
      <h5 class="center"><a href="http://softvar.github.io/" target="_blank">Varun Malhotra</a></h5>
    </div>
    <div class="col s12 m4">
      <img class="materialboxed responsive-img z-depth-1" data-caption="Adbeus" src="http://materializecss.com/images/showcase/adbeus.png">
      <h5 class="center"><a href="http://adbeus.com/" target="_blank" >Adbeus</a></h5>
    </div>
    <div class="col s12 m4">
      <img class="materialboxed responsive-img z-depth-1" data-caption="Roboterwelt" src="http://materializecss.com/images/showcase/roboterwelt.png">
      <h5 class="center"><a href="http://www.roboterwelt.de/" target="_blank">Roboterwelt</a></h5>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m4">
      <img class="materialboxed responsive-img z-depth-1" data-caption="Alexander Web Service" src="http://materializecss.com/images/showcase/alexander_web_service.png">
      <h5 class="center"><a href="http://www.alexanderwebservice.com/" target="_blank" >Alexander Web Service</a></h5>
    </div>
    <div class="col s12 m4">
      <img class="materialboxed responsive-img z-depth-1" data-caption="Tuan Phong Truong" src="http://materializecss.com/images/showcase/tuanphongtruong.png">
      <h5 class="center"><a href="http://tuanphongtruong.com/" target="_blank">Tuan Phong Truong</a></h5>
    </div>
    <div class="col s12 m4">
      <img class="materialboxed responsive-img z-depth-1" data-caption="Joel Cox" src="http://materializecss.com/images/showcase/joelcox.png">
      <h5 class="center"><a href="http://joelcox.io/" target="_blank">Joel Cox</a></h5>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m4">
      <img class="materialboxed responsive-img z-depth-1" data-caption="Webonise" src="http://materializecss.com/images/showcase/webonise.png">
      <h5 class="center"><a href="http://webonise.co.uk/" target="_blank" >Webonise</a></h5>
    </div>
    <div class="col s12 m4">
      <img class="materialboxed responsive-img z-depth-1" data-caption="Kenya Apps" src="http://materializecss.com/images/showcase/kenyaapps.png">
      <h5 class="center"><a href="http://kenyaapps.net/" target="_blank">Kenya Apps</a></h5>
    </div>
    <div class="col s12 m4">
      <img class="materialboxed responsive-img z-depth-1" data-caption="Adolfo Gutierrez" src="http://materializecss.com/images/showcase/adolfo.jpg">
      <h5 class="center"><a href="http://adolfogutierrez.me/" target="_blank">Adolfo Gutierrez</a></h5>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m4">
      <img class="materialboxed responsive-img z-depth-1" data-caption="DiskForYou" src="http://materializecss.com/images/showcase/ocloud.png">
      <h5 class="center"><a href="http://diskforyou.com/" target="_blank">DiskForYou</a></h5>
    </div>
    <div class="col s12 m4">
      <img class="materialboxed responsive-img z-depth-1" data-caption="Stephanie Jagiello" src="http://materializecss.com/images/showcase/stephaniejagiello.png">
      <h5 class="center"><a href="http://stephaniejagiello.com/" target="_blank">Stephanie Jagiello</a></h5>
    </div>
    <div class="col s12 m4">
      <img class="materialboxed responsive-img z-depth-1" data-caption="Lifeaweso.me" src="http://materializecss.com/images/showcase/lifeawesome.png">
      <h5 class="center"><a href="http://lifeaweso.me/" target="_blank" >Lifeaweso.me</a></h5>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m4">
      <img class="materialboxed responsive-img z-depth-1" data-caption="Jakub Sobotka" src="http://materializecss.com/images/showcase/jsobotka.png">
      <h5 class="center"><a href="http://www.jsobotka.cz/" target="_blank">Jakub Sobotka</a></h5>
    </div>
    <div class="col s12 m4">
      <img class="materialboxed responsive-img z-depth-1" data-caption="Mako" src="http://materializecss.com/images/showcase/makoframework.png">
      <h5 class="center"><a href="http://makoframework.com/" target="_blank">Mako</a></h5>
    </div>
  </div>

</div>