.sidebar {
  width: 240px;
  position: fixed;
  box-shadow: 2px 2px 2px #ddd;
  height: 100%;
  background-color: #fff;
  z-index: 998;
}
.sidebar:hover {
  overflow-y: auto;
}
.sidebar li:hover {
  background-color: rgba(0,0,0,0.05);
}
@media screen and (max-width: 992px) {
  .sidebar {
    left: -245px;
  }
}
.sidebar .logo {
  width: 100%;
  text-align: center;
  height: 90px;
  border-bottom: 1px solid #ddd;
  margin-top: 30px;
}
.sidebar a {
  line-height: 44px;
  height: 44px;
  font-weight: bolder;
  display: block;
  color: #444;
  padding: 0 25px;
}
.sidebar .collapsible {
  border: none;
  box-shadow: none;
  margin: 0;
}
.sidebar .collapsible-accordion > li.active {
  background-color: rgba(0,0,0,0.05);
}
.sidebar .collapsible-header {
  border: none;
  background-color: transparent;
}
.sidebar .collapsible-body {
  background-color: #fff;
  border: none;
}
.sidebar .collapsible-body ul {
  font-weight: 300;
}
.sidebar .collapsible-body a {
  padding-left: 40px;
}
.sidebar-collapsible:hover {
  background-color: #fff !important;
}
.sidebar .collapsible-body li.active,
.side-nav.fixed .collapsible-body li.active {
  background-color: #ee6e73;
}
.sidebar .collapsible-body li.active a,
.side-nav.fixed .collapsible-body li.active a {
  color: #fff;
}
.sidebar.in {
  overflow: auto;
  left: 0;
  box-shadow: none;
  transition: left 0.5s ease;
}
