html {
  font-family: 'Open Sans', Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
}
.primary-bg {
  background-color: #ee6e73;
}
.text-light {
  color: #fff;
}
.text-pink {
  color: #ee6e73;
}
.text-xs {
  font-size: 10px;
}
.text-sm {
  font-size: 12px;
}
.text-medium {
  font-size: 14px;
}
.text-lg {
  font-size: 16px;
}
.text-xl {
  font-size: 18px;
}
.text-xxl {
  font-size: 20px;
}
.btn-primary-bg {
  background-color: #f3989b;
}
.btn-primary-bg:hover {
  background-color: #f5a5a8;
}
.sidebar {
  width: 240px;
  position: fixed;
  box-shadow: 2px 2px 2px #ddd;
  height: 100%;
  background-color: #fff;
  z-index: 998;
}
.sidebar:hover {
  overflow-y: auto;
}
.sidebar li:hover {
  background-color: rgba(0,0,0,0.05);
}
@media screen and (max-width: 992px) {
  .sidebar {
    left: -245px;
  }
}
.sidebar .logo {
  width: 100%;
  text-align: center;
  height: 90px;
  border-bottom: 1px solid #ddd;
  margin-top: 30px;
}
.sidebar a {
  line-height: 44px;
  height: 44px;
  font-weight: bolder;
  display: block;
  color: #444;
  padding: 0 25px;
}
.sidebar .collapsible {
  border: none;
  box-shadow: none;
  margin: 0;
}
.sidebar .collapsible-accordion > li.active {
  background-color: rgba(0,0,0,0.05);
}
.sidebar .collapsible-header {
  border: none;
  background-color: transparent;
}
.sidebar .collapsible-body {
  background-color: #fff;
  border: none;
}
.sidebar .collapsible-body ul {
  font-weight: 300;
}
.sidebar .collapsible-body a {
  padding-left: 40px;
}
.sidebar-collapsible:hover {
  background-color: #fff !important;
}
.sidebar .collapsible-body li.active,
.side-nav.fixed .collapsible-body li.active {
  background-color: #ee6e73;
}
.sidebar .collapsible-body li.active a,
.side-nav.fixed .collapsible-body li.active a {
  color: #fff;
}
.sidebar.in {
  overflow: auto;
  left: 0;
  box-shadow: none;
  transition: left 0.5s ease;
}
html {
  background-color: #fcfcfc;
}
.header {
  color: #ee6e73;
}
.promo {
  width: 100%;
}
main,
footer {
  padding-left: 240px;
}
@media only screen and (max-width: 992px) {
  main,
  footer {
    padding-left: 0;
  }
  .promo {
    width: 60%;
    margin: 0 auto;
    display: block;
  }
}
.promo i {
  color: #ee6e73;
  font-size: 7rem;
  display: block;
}
.promo-caption {
  font-size: 1.7rem;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 0;
}
.col.grid-example {
  border: 1px solid #eee;
  margin: 7px 0;
  text-align: center;
  line-height: 50px;
  font-size: 28px;
  background-color: #ff6347;
  color: #fff;
  padding: 0;
}
.col.grid-example span {
  font-weight: 200;
  line-height: 50px;
}
.promo-example {
  overflow: hidden;
}
.dynamic-color .red,
.dynamic-color .pink,
.dynamic-color .purple,
.dynamic-color .deep-purple,
.dynamic-color .indigo,
.dynamic-color .blue,
.dynamic-color .light-blue,
.dynamic-color .cyan,
.dynamic-color .teal,
.dynamic-color .green,
.dynamic-color .light-green,
.dynamic-color .lime,
.dynamic-color .yellow,
.dynamic-color .amber,
.dynamic-color .orange,
.dynamic-color .deep-orange,
.dynamic-color .brown,
.dynamic-color .grey,
.dynamic-color .blue-grey,
.dynamic-color .black,
.dynamic-color .white,
.dynamic-color .transparent {
  height: 55px;
  width: 100%;
  padding: 0 15px;
  line-height: 55px;
  font-weight: 500;
  font-size: 12px;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dynamic-color .col {
  margin-bottom: 55px;
}
p {
  color: rgba(0,0,0,0.71);
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
#download-button {
  font-size: 20px;
}
code,
pre {
  position: relative;
  font-size: 1.1rem;
}
pre[class*="language-"] {
  padding: 25px 12px 7px 12px;
  border: solid 1px rgba(51,51,51,0.12);
}
pre[class*="language-"]:before {
  position: absolute;
  padding: 1px 5px;
  background: #e8e6e3;
  top: 0;
  left: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #555;
  content: attr(class);
  font-size: 0.9rem;
  border: solid 1px rgba(51,51,51,0.12);
  border-top: none;
  border-left: none;
}
#site-layout-example-left {
  background-color: #90a4ae;
  height: 300px;
}
#site-layout-example-right {
  background-color: #26a69a;
  height: 300px;
}
#site-layout-example-top {
  background-color: #e57373;
  height: 42px;
}
.flat-text-header {
  height: 35px;
  width: 80%;
  background-color: rgba(255,255,255,0.15);
  display: block;
  margin: 27px auto;
}
.flat-text {
  height: 25px;
  width: 80%;
  background-color: rgba(0,0,0,0.15);
  display: block;
  margin: 27px auto;
}
.flat-text.small {
  width: 25%;
  height: 25px;
  background-color: rgba(0,0,0,0.15);
}
.flat-text.full-width {
  width: 100%;
}
.browser-window {
  text-align: left;
  width: 100%;
  height: auto;
  display: inline-block;
  border-radius: 5px 5px 2px 2px;
  background-color: #fff;
  margin: 20px 0px;
  overflow: hidden;
}
.browser-window .top-bar {
  height: 30px;
  border-radius: 5px 5px 0 0;
  border-top: thin solid #eaeae9;
  border-bottom: thin solid #dfdfde;
  background: linear-gradient(#e7e7e6, #e2e2e1);
}
.browser-window .circle {
  height: 10px;
  width: 10px;
  display: inline-block;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 1px;
}
#close-circle {
  background-color: #ff5c5a;
}
#minimize-circle {
  background-color: #ffbb50;
}
#maximize-circle {
  background-color: #1bc656;
}
.browser-window .circles {
  margin: 5px 12px;
}
.browser-window .content {
  margin: 0;
  width: 100%;
  display: inline-block;
  border-radius: 0 0 5px 5px;
  background-color: #fafafa;
}
.browser-window .row {
  margin: 0;
}
.clear {
  clear: both;
}
.valign-demo {
  height: 400px;
  background-color: #ddd;
}
.talign-demo {
  height: 100px;
  background-color: #ddd;
}
.shadow-demo {
  background-color: #26a69a;
  width: 125px;
  height: 125px;
  margin: 20px auto;
}
@media only screen and (max-width: 1200px) {
  .shadow-demo {
    width: 100px;
    height: 100px;
  }
}
@media only screen and (max-width: 600px) {
  .shadow-demo {
    width: 150px;
    height: 150px;
  }
}
.caption {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 30px;
}
footer.example {
  padding-left: 0;
}
.icon-demo {
  line-height: 50px;
}
.icon-container i {
  font-size: 3em;
  display: block;
  margin-bottom: 10px;
}
.icon-container .icon-preview {
  height: 120px;
  text-align: center;
}
.icon-holder {
  display: block;
  text-align: center;
  width: 150px;
  height: 115px;
  float: left;
  margin: 0 0px 15px 0px;
}
.icon-holder p {
  margin: 0 0;
}
#staggered-test li,
#image-test {
  opacity: 0;
}
@media only screen and (min-width: 993px) {
  .container {
    width: 85%;
  }
}
a.button-collapse.top-nav {
  position: absolute;
  text-align: center;
  height: 48px;
  width: 48px;
  left: 7.5%;
  top: 0;
  float: none;
  margin-left: 1.5rem;
  color: #fff;
  font-size: 32px;
  z-index: 2;
}
a.button-collapse.top-nav.full {
  line-height: 122px;
}
@media only screen and (max-width: 600px) {
  a.button-collapse.top-nav {
    left: 5%;
  }
}
@media only screen and (max-width: 730px) {
  .mobile-image {
    max-width: 100%;
  }
}
#download-button {
  width: 260px;
  height: 70px;
  line-height: 70px;
}
