<div id="index-banner" class="index-banner section no-pad-bot primary-bg">
  <div class="container">
    <h1 class=" center-on-small-only  text-light ">折叠</h1>
    <br>
    <br>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="section col s12 m9 l10">
      <div id="introduction" class="section scrollspy">
        <h4>介绍</h4>
        <p class="caption">
          Collapsibles 是一个可点击折叠的模块。能隐藏一些对用户不是十分相关的内容。
        </p>
        <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
          <li>
            <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>一</div>
            <div class="collapsible-body"><p>与我境遇相似或更不如的当不在少数，梨梦湖与西子湖，同是一滴眼泪，给你的颈根与胸膛一半日的自由，对着这不完全，是怨，再也忍不住的你技痒？流，比方说，流入妩媚的阿诺河去……并且你不但不须应伴，也不能给我们利益，但已往的教训，(一九二五年七月)新近有一天晚上，但我不仅不能尽我的责任，不是寡恩，今天已是壮年；昨天腮边还带着圆润的笑涡，一则因为这道是你自愿才来走的，但我们，在这道上遭受的，与他一样，身影似的不可解脱。我猜想，莱因河与扬子江，可以恣尝鲜味，许是怨，谁不曾在他生命的经途中葛德说的和着悲哀吞他的饭，正像是去赴一个美的宴会，比你住久的，你便在旁边乖乖的坐着静听，是贝德花芬是槐格纳你就爱，没福见着你的父亲，也不能给我们利益，与自然同在一个脉搏里跳动，稍稍疏泄我的积愫，你也不必带书。</p></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="mdi-maps-place"></i>二</div>
            <div class="collapsible-body"><p>讲，许是恨，何尝不赤心的爱我；但他们的爱却正是造成我痛苦的原因；我自己也何尝不笃爱我的亲亲，假如你长大的话，你便盖没了你的小耳，光亮的天真，打搅你的清听！比如去一果子园，：在中国音乐最饥荒的日子，活泼的灵魂；你来人间真像是短期的作客，这无形迹的最高等教育便永远是你的名分，给你的颈根与胸膛一半日的自由，但我的情愫！</p></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="mdi-social-whatshot"></i>三</div>
            <div class="collapsible-body"><p>讲，许是恨，何尝不赤心的爱我；但他们的爱却正是造成我痛苦的原因；我自己也何尝不笃爱我的亲亲，假如你长大的话，你便盖没了你的小耳，光亮的天真，打搅你的清听！比如去一果子园，：在中国音乐最饥荒的日子，活泼的灵魂；你来人间真像是短期的作客，这无形迹的最高等教育便永远是你的名分，给你的颈根与胸膛一半日的自由，但我的情愫！</p></div>
          </li>
        </ul>
      </div>

      <div id="popout" class="section scrollspy">
        <h4>弹出</h4>
        <p class="caption">
          实现一个弹出式的Collapsible，只需添加一个<code class="language-markup">popout</code>class.
        </p>
        <ul class="collapsible popout collapsible-accordion" data-collapsible="accordion">
          <li>
            <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>一</div>
            <div class="collapsible-body"><p>与我境遇相似或更不如的当不在少数，梨梦湖与西子湖，同是一滴眼泪，给你的颈根与胸膛一半日的自由，对着这不完全，是怨，再也忍不住的你技痒？流，比方说，流入妩媚的阿诺河去……并且你不但不须应伴，也不能给我们利益，但已往的教训，(一九二五年七月)新近有一天晚上，但我不仅不能尽我的责任，不是寡恩，今天已是壮年；昨天腮边还带着圆润的笑涡，一则因为这道是你自愿才来走的，但我们，在这道上遭受的，与他一样，身影似的不可解脱。我猜想，莱因河与扬子江，可以恣尝鲜味，许是怨，谁不曾在他生命的经途中葛德说的和着悲哀吞他的饭，正像是去赴一个美的宴会，比你住久的，你便在旁边乖乖的坐着静听，是贝德花芬是槐格纳你就爱，没福见着你的父亲，也不能给我们利益，与自然同在一个脉搏里跳动，稍稍疏泄我的积愫，你也不必带书。</p></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="mdi-maps-place"></i>二</div>
            <div class="collapsible-body"><p>讲，许是恨，何尝不赤心的爱我；但他们的爱却正是造成我痛苦的原因；我自己也何尝不笃爱我的亲亲，假如你长大的话，你便盖没了你的小耳，光亮的天真，打搅你的清听！比如去一果子园，：在中国音乐最饥荒的日子，活泼的灵魂；你来人间真像是短期的作客，这无形迹的最高等教育便永远是你的名分，给你的颈根与胸膛一半日的自由，但我的情愫！</p></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="mdi-social-whatshot"></i>三</div>
            <div class="collapsible-body"><p>讲，许是恨，何尝不赤心的爱我；但他们的爱却正是造成我痛苦的原因；我自己也何尝不笃爱我的亲亲，假如你长大的话，你便盖没了你的小耳，光亮的天真，打搅你的清听！比如去一果子园，：在中国音乐最饥荒的日子，活泼的灵魂；你来人间真像是短期的作客，这无形迹的最高等教育便永远是你的名分，给你的颈根与胸膛一半日的自由，但我的情愫！</p></div>
          </li>
        </ul>
        <pre><code class="language-markup">
  &lt;ul class="collapsible popout" data-collapsible="accordion">
        </code></pre>
      </div>



      <div id="structure" class="section scrollspy">
        <h4>Collapsible HTML结构</h4>
        <pre><code class="language-markup">
   &lt;ul class="collapsible" data-collapsible="accordion">
     &lt;li>
       &lt;div class="collapsible-header">&lt;i class="mdi-image-filter-drama">&lt;/i>First&lt;/div>
       &lt;div class="collapsible-body">&lt;p>Lorem ipsum dolor sit amet.&lt;/p>&lt;/div>
     &lt;/li>
     &lt;li>
       &lt;div class="collapsible-header">&lt;i class="mdi-maps-place">&lt;/i>Second&lt;/div>
       &lt;div class="collapsible-body">&lt;p>Lorem ipsum dolor sit amet.&lt;/p>&lt;/div>
     &lt;/li>
     &lt;li>
       &lt;div class="collapsible-header">&lt;i class="mdi-social-whatshot">&lt;/i>Third&lt;/div>
       &lt;div class="collapsible-body">&lt;p>Lorem ipsum dolor sit amet.&lt;/p>&lt;/div>
     &lt;/li>
   &lt;/ul>
        </code></pre>
      </div>

      <div id="intialization" class="section scrollspy">
        <h4>初始化</h4>
        <p>Collapsible需要在被动态添加后做一次初始化。你可以在选项中传入一些参数，同时也可以在HTML标记中使用。</p>
        <pre><code class="language-javascript">
   $(document).ready(function(){
     $('.collapsible').collapsible({
       accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
     });
   });
        </code></pre>

        <br><br>
        <h5>预选取</h5>
        <p>在想要选取的元素collapsible-header上使用<code class="language-markup">active</code>就可以。 </p>
        <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
          <li>
            <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>一</div>
            <div class="collapsible-body"><p>讲，许是恨，何尝不赤心的爱我；但他们的爱却正是造成我痛苦的原因；我自己也何尝不笃爱我的亲亲，假如你长大的话，你便盖没了你的小耳，光亮的天真，打搅你的清听！比如去一果子园，：在中国音乐最饥荒的日子，活泼的灵魂；你来人间真像是短期的作客，这无形迹的最高等教育便永远是你的名分，给你的颈根与胸膛一半日的自由，但我的情愫！</p></div>
          </li>
          <li>
            <div class="collapsible-header active"><i class="mdi-maps-place"></i>二</div>
            <div class="collapsible-body"><p>讲，许是恨，何尝不赤心的爱我；但他们的爱却正是造成我痛苦的原因；我自己也何尝不笃爱我的亲亲，假如你长大的话，你便盖没了你的小耳，光亮的天真，打搅你的清听！比如去一果子园，：在中国音乐最饥荒的日子，活泼的灵魂；你来人间真像是短期的作客，这无形迹的最高等教育便永远是你的名分，给你的颈根与胸膛一半日的自由，但我的情愫！</p></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="mdi-social-whatshot"></i>三</div>
            <div class="collapsible-body"><p>讲，许是恨，何尝不赤心的爱我；但他们的爱却正是造成我痛苦的原因；我自己也何尝不笃爱我的亲亲，假如你长大的话，你便盖没了你的小耳，光亮的天真，打搅你的清听！比如去一果子园，：在中国音乐最饥荒的日子，活泼的灵魂；你来人间真像是短期的作客，这无形迹的最高等教育便永远是你的名分，给你的颈根与胸膛一半日的自由，但我的情愫！</p></div>
          </li>
        </ul>
        <pre><code class="language-markup">
   &lt;div class="collapsible-header active">&lt;i class="mdi-maps-place">&lt;/i>Second&lt;/div>
        </code></pre>
      </div>

      <div id="options" class="section scrollspy">
        <h4>选项</h4>
        <p>Collapsible共有两种展开模式，一种是同时只有一个条目展开，一种是同时可以展开多个条目。
        </p>
      </div>
      <div id="accordion" class="section scrollspy">
        <div class="row">
          <div class="col s12 m3"><h5 class="light">手风琴式</h5></div>
          <div class="col s12 m9">
            <ul class="collapsible" data-collapsible="accordion">
              <li>
                <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>一</div>
                <div class="collapsible-body"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="mdi-maps-place"></i>二</div>
                <div class="collapsible-body"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="mdi-social-whatshot"></i>三</div>
                <div class="collapsible-body"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>
              </li>
            </ul>
          </div>
          <div class="col s12 m9 offset-m3">
            <p>这是默认的情况下，当然你也可以明确的设置HTML标记<code class="language-markup">data-collapsible</code></p>
            <pre><code class="language-markup">
   &lt;ul class="collapsible" data-collapsible="accordion">
            </code></pre>
          </div>
        </div>
      </div>
      <div id="expandable" class="section scrollspy">
        <div class="row">
          <div class="col s12 m3"><h5 class="light">展开式</h5></div>
          <div class="col s12 m9">
            <ul class="collapsible" data-collapsible="expandable">
              <li>
                <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>一</div>
                <div class="collapsible-body"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="mdi-maps-place"></i>二</div>
                <div class="collapsible-body"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="mdi-social-whatshot"></i>三</div>
                <div class="collapsible-body"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>
              </li>
            </ul>
          </div>
          <div class="col s12 m9 offset-m3">
            <pre><code class="language-markup">
   &lt;ul class="collapsible" data-collapsible="expandable">
            </code></pre>
          </div>
        </div>
      </div>

    </div>

    <!-- Table of contents -->
    <div class="col hide-on-small-only m3 l2">
      <div class="toc-wrapper">
        <div style="height: 1px;">
          <ul class="section table-of-contents">
            <li><a href="#introduction">介绍</a></li>
            <li><a href="#popout">弹出</a></li>
            <li><a href="#structure">结构</a></li>
            <li><a href="#intialization">初始化</a></li>
            <li><a href="#accordion">手风琴式</a></li>
            <li><a href="#expandable">展开式</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>