<div id="index-banner" class="index-banner section no-pad-bot primary-bg">
  <div class="container">
    <h1 class=" center-on-small-only  text-light ">视差滚动</h1>
    <br>
    <br>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="section col s12 m9 l10">

      <!--  Parallax Section  -->
      <div id="introduction" class="scrollspy section">
        <h4>介绍</h4>
        <p class="caption">视差滚动是一种当滚动条滚动时，页面的背景内容或者图片的滚动速度跟前景滚动速度不同。看下面的演示。</p>
        <a href="parallax-demo" target="_blank" class="btn-large waves-effect waves-light">演示</a>
      </div>



      <div id="structure" class="scrollspy section">
        <h4>Parallax HTML结构</h4>
        <pre><code class="language-markup">
  &lt;div class="parallax-container">
    &lt;div class="parallax">&lt;img src="images/parallax1.jpg">&lt;/div>
  &lt;/div>
        </code></pre>
      </div>



      <div id="initialization" class="scrollspy section">
        <h4>初始化</h4>
        <pre><code class="language-javascript">
  $(document).ready(function(){
    $('.parallax').parallax();
  });
        </code></pre>
      </div>



      <div id="customization" class="scrollspy section">
        <h4>自定义</h4>
        <p>Parallax容器的高度定义了图片能被看到的高度.默认情况下是500px，当然你可以自定义。</p>
        <pre><code class="language-css">
  .parallax-container {
    height: "500px";
  }
        </code></pre>
      </div>


    </div>

    <!-- Table of contents -->
    <div class="col hide-on-small-only m3 l2">
      <div class="toc-wrapper">
        <div style="height: 1px;">
          <ul class="section table-of-contents">
            <li><a href="#introduction">介绍</a></li>
            <li><a href="#structure">结构</a></li>
            <li><a href="#initialization">初始化</a></li>
            <li><a href="#customization">自定义</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>