<div id="index-banner" class="index-banner section no-pad-bot primary-bg">
  <div class="container">
    <h1 class=" center-on-small-only  text-light ">阴影</h1>
    <br>
    <br>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="section col s12 m9 l10">

      <div id="shadow" class="section scrollspy">
        <p class="caption">在Material设计中，大部分的元素都应当包含适当的<strong>z-depth</strong>。</p>
        <p>只需要在标签上使用<code class="language-markup">class="z-depth-2"</code>即可。另外，通过Sass你可以扩展任何阴影元素<code class="language-scss">@extend .z-depth-2</code>。</p>
        <div class="row">
          <div class="col s12 m4 l2 offset-l1">
            <p class="z-depth-1 shadow-demo"></p>
          </div>
          <div class="col s12 m4 l2">
            <p class="z-depth-2 shadow-demo"></p>
          </div>
          <div class="col s12 m4 l2">
            <p class="z-depth-3 shadow-demo"></p>
          </div>
          <div class="col s12 m4 l2">
            <p class="z-depth-4 shadow-demo"></p>
          </div>
          <div class="col s12 m4 l2">
            <p class="z-depth-5 shadow-demo"></p>
          </div>
        </div>
        <pre><code class="language-markup col s12">
  &lt;div class="col s12 m2">
    &lt;p class="z-depth-1">z-depth-1&lt;/p>
  &lt;/div>
  &lt;div class="col s12 m2">
    &lt;p class="z-depth-2">z-depth-2&lt;/p>
  &lt;/div>
  &lt;div class="col s12 m2">
    &lt;p class="z-depth-3">z-depth-3&lt;/p>
  &lt;/div>
  &lt;div class="col s12 m2">
    &lt;p class="z-depth-4">z-depth-4&lt;/p>
  &lt;/div>
  &lt;div class="col s12 m2">
    &lt;p class="z-depth-5">z-depth-5&lt;/p>
  &lt;/div>
        </code></pre>
      </div>

    </div>

    <!-- Table of contents -->
    <div class="col hide-on-small-only m3 l2">
      <div class="toc-wrapper">
        <div style="height: 1px;">
          <ul class="section table-of-contents">
            <li><a href="#shadow">用法</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>