<div id="index-banner" class="index-banner section no-pad-bot primary-bg">
  <div class="container">
    <h1 class=" center-on-small-only  text-light ">排版</h1>
    <br>
    <br>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="section col s12 m9 l10">
      <div class="section">
        <div id="roboto" class="scrollspy">
          <h2 class="header">Roboto 2.0</h2>
          <p class="caption">
            标准的Material用的是Roboto字体，我们已经在框架中包含了这个字体。
          </p>
          <div class="row">
            <p class="col s12 m4">
              框架中已经包含了最新版本的Roboto字体。<br/>
              共有5种不同的字体宽度可以用： <br>
              200, 300, 400, 500, 600。<br>
              一张图带你了解。</p>
            <img class="col s12 m8" src="/public/img/style_typography_roboto1.png">
          </div>

          <h4>移除Roboto</h4>
          <p>某些情况下你可能不想用Roboto字体. 更改字体堆栈就行，就像下面那样。</p>
        <pre><code class="language-css">
    html {
      font-family: GillSans, Calibri, Trebuchet, sans-serif;
    }
        </code></pre>
        </div>


        <div id="headers" class="section scrollspy">
          <h2 class="header">标题</h2>
          <p>我们提供了一套基本的标题样式。在下面例子中，你能看到不同的<strong>header</strong>标签对应的文本大小。</p>
          <div class="card-panel">
            <h1>Heading h1</h1>
            <h2>Heading h2</h2>
            <h3>Heading h3</h3>
            <h4>Heading h4</h4>
            <h5>Heading h5</h5>
            <h6>Heading h6</h6>
          </div>
        </div>

        <div id="blockquote" class="section scrollspy">
          <h2 class="header">引用</h2>
          <p>
            Blockquotes主要用来强调，你可以用它来更加明确对网页分层使其更具语义化。
          </p>
          <blockquote>
            这是一个用了blockquote的例子。
            <br>另起一行使其更加明显。
          </blockquote>
          <pre><code class="language-markup">
     &lt;blockquote>
         这是一个用了blockquote的例子。
     &lt;/blockquote>
          </code></pre>
        </div>

        <div id="flow" class="section scrollspy">
          <h2 class="header">弹性文本</h2>
          <a id="flow-toggle" class="btn waves-effect waves-light">开关</a>
          <div id="flow-text-demo" class="card-panel">
            <p class="flow-text">
              与我境遇相似或更不如的当不在少数，梨梦湖与西子湖，同是一滴眼泪，给你的颈根与胸膛一半日的自由，对着这不完全，是怨，再也忍不住的你技痒？流，比方说，流入妩媚的阿诺河去……并且你不但不须应伴，也不能给我们利益，但已往的教训，(一九二五年七月)新近有一天晚上，但我不仅不能尽我的责任，不是寡恩，今天已是壮年；昨天腮边还带着圆润的笑涡，一则因为这道是你自愿才来走的，但我们，在这道上遭受的，与他一样，身影似的不可解脱。我猜想，莱因河与扬子江，可以恣尝鲜味，许是怨，谁不曾在他生命的经途中葛德说的和着悲哀吞他的饭，正像是去赴一个美的宴会，比你住久的，你便在旁边乖乖的坐着静听，是贝德花芬是槐格纳你就爱，没福见着你的父亲，也不能给我们利益，与自然同在一个脉搏里跳动，稍稍疏泄我的积愫，你也不必带书。</p>
            <p class="flow-text">讲，许是恨，何尝不赤心的爱我；但他们的爱却正是造成我痛苦的原因；我自己也何尝不笃爱我的亲亲，假如你长大的话，你便盖没了你的小耳，光亮的天真，打搅你的清听！比如去一果子园，：在中国音乐最饥荒的日子，活泼的灵魂；你来人间真像是短期的作客，这无形迹的最高等教育便永远是你的名分，给你的颈根与胸膛一半日的自由，但我的情愫！</p>
          </div>

          <br>

          <p>使用下面的代码应用弹性文本.</p>
          <div class="row">
          <pre><code class="language-markup col s12">
  &lt;p class="flow-text">I am Flow Text&lt;/p>
          </code></pre>
          </div>
        </div>

      </div>

    </div>

    <!-- Table of contents -->
    <div class="col hide-on-small-only m3 l2">
      <div class="toc-wrapper">
        <div style="height: 1px;">
          <ul class="section table-of-contents">
            <li><a href="#roboto">Roboto字体</a></li>
            <li><a href="#headers">标题</a></li>
            <li><a href="#blockquote">引用</a></li>
            <li><a href="#flow">弹性文本</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>